<svg
  :if={icon = entity_icon_path(@kind)}
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 20 20"
  fill="currentColor"
  aria-hidden="true"
  class={["atlas-kindicon", @class]}
  data-kind={@kind}
>
  <path
    d={icon.d}
    fill-rule={icon[:rule]}
    clip-rule={icon[:rule]}
  />
</svg>
